<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/game_style.css">
    <script src="../js/script.js" defer></script>
    <title>Rock, Paper, Scissors | Game</title>
</head>
<body>
    <h1><a href="../index.html" class="title">Rock, Paper, Scissors</a></h1>
    <div class="game">
        <div class="information">
            <div class="computer">
                <div class="identifier">
                    <span>Computer</span>
                </div>
                <div class="life-status">
                </div>
                <div class="plays">
                </div>
            </div>
            <hr>
            <div class="player">
                <div class="identifier">
                    <span>Player</span>
                </div>
                <div class="life-status">
                </div>
                <div class="plays">
                </div>
            </div>
        </div>
        <div class="interative">
            <div class="computer">
                <img src="../images/rock.svg" alt="ROCK" class="rock">
            </div>
            <span>Choose a weapon below</span>
            <div class="player">
                <img src="../images/rock.svg" alt="ROCK" class="rock">
                <img src="../images/paper.svg" alt="PAPER" class="paper">
                <img src="../images/scissors.svg" alt="SCISSORS" class="scissors">
            </div>
        </div>
    </div>
</body>
</html>
