body {
    display: flex;
    background-color: #828489;
    justify-content: space-around;
    padding: 5vh;
    gap: 10hv;
}

.canvas {
    display: flex;
    flex-direction: column;
    width: 90vh;
    height: 90vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.row {
    width: inherit;
    display: flex;
    flex: 1 1 0;
}

.cell {
    flex: 1 1 0;
}

.cell:hover {
    background-color: var(--current-color);
}

.grid {
    border: 1px dashed black;
}

.title {
    font-size: 60px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #8B2635;
    margin: 0;
}

.configurations {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

button {
    border: 0;
    padding: 0;
}

.config{
    display: flex;
    width: inherit;
    padding: 20px;
    margin: 10px;
    justify-content: center;
    border: 2px solid #8B2635;
}

.config button {
    font-size: 20px;
    background-color: #828489;
}

.config:hover, .config button:hover, .config:hover button{
    background-color: #8B2635;
}

.config .my-range {
    justify-content: space-around;
}
